
body {
  margin: 0;
  background-color: #A9E8DC;
  min-width: 100vw;
}

header {
  position: fixed;
  width: 100%;
  background-color: #000000;
  color: white;
}

header>h1 {
  font-family: "courier new";
  font-size: 4.5em;
  margin: .5em .2em;
  letter-spacing: 3px;
  font-weight: lighter;
}

#navigation {
  list-style-type: none;
  background-color: #02BEC4;
  padding-left: 0;
  text-align: center;
  margin: 0 0;
  color: black;
}

#navigation>li {
  display: inline-block;
  font-size: 2em;
  font-family: "courier new";
  width: 24.6%;
  padding: 1em 0;
}

#navigation>li:active {
  background-color: #E1F7E7;
}

.active {
  background-color: #000000;
  color: white;
}

#header-spacer {
  height: 270px;
}

#content {
  background-color: hsla(0, 0%, 90%, .8);
  margin: 2%;
  font-size: 2vw;
  padding: 1em;
}

.home, .projects, .background, .contact {
  min-height: 85vh;
}

#contact-form {
  width: 80%;
  margin: 5% auto;
  font-size: 2em;
  text-align: center;
  padding: 5%;
}

input, textarea {
  font-size: .8em;
}

#send {
  margin-top: 5%;
  margin-bottom: 2%;
  height: 100px;
  width: 25%;
}

.contact-button {
  border: 1px solid black;
  height: 75px;
  background-color: #050C42;
  color: white;
}

/*body {
  background-image: url("images/code-background.jpg");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}*/








.blinking-cursor {
  background-color: #2E3D48;
  -webkit-animation: 1s blink step-end infinite;
  -moz-animation: 1s blink step-end infinite;
  -ms-animation: 1s blink step-end infinite;
  -o-animation: 1s blink step-end infinite;
  animation: 1s blink step-end infinite;
}

@keyframes "blink" {
  from, to {
    background-color: transparent;
  }
  50% {
    background-color: hsla(0, 0%, 90%, .8);
  }
}

@-moz-keyframes blink {
  from, to {
    background-color: transparent;
  }
  50% {
    background-color: hsla(0, 0%, 90%, .8);
  }
}

@-webkit-keyframes "blink" {
  from, to {
    background-color: transparent;
  }
  50% {
    background-color: hsla(0, 0%, 90%, .8);
  }
}

@-ms-keyframes "blink" {
  from, to {
    background-color: transparent;
  }
  50% {
    background-color: hsla(0, 0%, 90%, .8);
  }
}

@-o-keyframes "blink" {
  from, to {
    background-color: transparent;
  }
  50% {
    background-color: hsla(0, 0%, 90%, .8);
  }
}